*{
    margin: 0px;
    padding: 5px;
}
p{
    font-family: Roboto;
    
}

.video-title{
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    margin-top: 10px;
    line-height: 26px;
}
.video-stat{
    color: grey;
    font-size: 14px;
    margin-top: 10px;
}
.video-author{
    color: grey;
    font-size: 17px;
    margin-top: 20px;
}
.video-description{
    color: grey;
    font-size: 15px;
    width: 300px;
    line-height: 26px;
    text-align: justify;
    margin-top: 20px;
}

.shop-now{
    background-color: rgb(233, 58, 58);
    color: white;
    padding: 25px 16px;
    margin-top: 30px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}